.header{
    position: sticky;
    top: 0;
    z-index: 100;
    background-color:black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.header-logo{
    color: white;
    margin-left: 20px;
    height: 50px;
    margin: -13px -10px 0px 30px;
    justify-content: space-between;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: lightgray;
    opacity: 1; /* Firefox */
  
}
input, select, textarea{
    color: white;
}
.header-input{
    margin-top: -10px;
    display: flex;
    align-items: center;
    width: 40%;
    border: 1px solid white;
}
.header-inputbutton{
    width: 50px !important;
    background-color: red;
    border-left: 1px solid lightgray;
    color:white;
}
.header-left{
    display: flex;
}
.header-icons{
    margin-top: -10px;
    color: white;
    display: flex;
    align-items: center;
}
.header-input > input{
    flex: 1;
    border: none;
}
.header-icon{
    margin-right: 5px;
}