.sidebarRow{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
.sidebarrow-icon{
    color: #606066;
    font-size: large !important;
}
.sidebarrow-title{
    flex: 1;
    margin-left: 20px;
    font-size: 12px;
    font-weight: 500;

}
.sidebarRow:hover > .sidebarrow-title{
    font-weight: bold;
    
}