.videocard{
    margin-left: 30px;
    margin-right: 30px;
    width: 270px;
    margin-bottom: 40px;
}
.videocard-thumbnail{
    height: 140px;
    width: 250px;
}
.videoCard-info{
    display: flex;
    margin-top: 10px;
    padding-right: 30px;
}
.video-text{
    margin-left: 15px;

}
.video-text > h4{
    font-size: 14px;
    margin-bottom: 5px;
}
.video-text > p{
    color: gray;
    font-size: 14px;
}
.videoCard-avatar{
    height: 30px !important;
    width: 30px !important;
}